<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <title>Django REST framework</title>      
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
  </head>
  <body class="">
    <div class="wrapper">
        <div class="navbar navbar-static-top navbar-inverse" role="navigation" aria-label="navbar">
          <div class="container">
            <span>
                <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
                    Django REST framework
                </a>
            </span>
            <ul class="nav navbar-nav pull-right"></ul>
          </div>
        </div>

        <div class="container">
            <ul class="breadcrumb">
            <li><a href="/routes/">Routes</a></li>
            <li class="active"><a href="/fewest_stops/">Fewest Stops</a></li>
            <li class="active"><a href="/most_stops/">Most Stops</a></li>
            </ul>
            <!-- Content -->
            <div id="content" role="main" aria-label="content">
                <div class="region"  aria-label="request form">
                    <form id="get-form" class="pull-right">
                        <fieldset>
                            <div class="btn-group format-selection">
                                <a class="btn btn-primary js-tooltip" href="/fewest_stops/" rel="nofollow" title="Make a GET request on the Fewest Stops resource">GET</a>
                                <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="js-tooltip format-option" href="/fewest_stops/?format=json" rel="nofollow" title="Make a GET request on the Fewest Stops resource with the format set to `json`">json</a>
                                    </li>
                                    <li>
                                    <a class="js-tooltip format-option" href="/fewest_stops/?format=api" rel="nofollow" title="Make a GET request on the Fewest Stops resource with the format set to `api`">api</a>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfToken: "1R8d8wbLXZdpMo0vHQx6NbgofEChrgFpzRBHeLVZpo0Ehhyopo8HVhJ5kehKGKDs"
        };
      </script>
      <script src="/static/rest_framework/js/jquery-3.5.1.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
  </body>
  
</html>